{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> Welcome to the exciting world of Kotlin! Whether you're a seasoned developer exploring new languages or a beginner taking your first steps into programming, Kotlin offers a modern and concise approach to building robust and scalable applications. In this comprehensive guide, we'll take you through everything you need to know to get started with Kotlin, from setting up your development environment to writing your first Kotlin code.</p>
      <a href="https://kotlinlang.org/" class="btn btn-danger">Visit Website!</a>
      <a href="https://kotlinlang.org/docs/home.html" class="btn btn-secondary">Kotlin Docs</a>
    </div>
  </div>
</div>

{% endblock sidebar %}